<div style="font-size: 20px">
    <img src="[insert image link]" height="100" alt="Basis Esports logo" style="padding: 10px; background-color: #15202b;">
    <p>Welcome to Basis, {{ name }}! Before you can log in, you need to verify that you actually own this email address.</p>
    <a style="display: inline-block; padding: 10px 15px; background: #15202b; box-sizing: border-box; color: white; text-decoration: none;" href="{{ confirm_url }}">Confirm email</a>
    <p>Feel free to contact info@basisesports.com with questions!</p>
    <p>
        See you soon!<br>
        - Basis team 🎉<br>
    </p>
</div>
