<div style="font-size: 20px">
    <img src="[insert image link]" height="100" alt="Basis Esports logo" style="padding: 10px; background-color: #15202b;">
    <p>Hi {{ name }}! Someone requested a password reset on your Basis account.</p>
    <a style="display: inline-block; padding: 10px 15px; background: #15202b; box-sizing: border-box; color: white; text-decoration: none;" href="{{ url }}">Reset password</a>
    <p>If you didn't request a reset, please ignore this email. Feel free to contact info@basisesports.com with questions!</p>
    <p>
        Thanks for using the app!<br>
        - Basis team 🎉<br>
    </p>
</div>
